body, section {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 } 

input{
	width: 93%;
	height: 100%;
	background: rgb(246, 246, 246);
	justify-content: center;
	display: flex;
	margin: 1.5rem auto;
	padding: 1.2rem;
	border: 1px solid;
	outline: none;
	border-radius: 8px;
    border-color: rgb(234, 234, 234, 1);
}


.button {
    position: fixed;
    bottom: 100px;
    width: 93%;
    border: none;
    font-size: 16px;
    text-align: center;
    align-self: center;
    background-color: #4E6E81;
    color: #fff;
    border-radius: 100px;
}

.password-container {
    position: relative;
}

#toggle {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #4E6E81;
}

p {
    margin-top: 0;
    text-align: right;
    color: #4E6E81;
    padding-right: 1.5rem;
}