<ion-header><app-dashboard></app-dashboard></ion-header>
<ion-content class="title">
    <h1>Most Vulnerable Projects</h1>
    <div>{{date}}</div>
    <app-projects-graph [projects]="projectsArray"></app-projects-graph>
    <ion-item-group>
        <ion-item *ngFor="let project of projectsArray">
            <ion-row>
                <div class="Projects">
                    <ion-icon [ngStyle]="{'color': getColor(project.risk_level)}" name="ellipse"></ion-icon>
                    <ion-col>{{project.project_name}}</ion-col>
                </div>
                <ion-col class="Vulnerability">{{project.levels.high}} High / {{project.levels.medium}} Medium</ion-col>
            </ion-row>
        </ion-item>
    </ion-item-group>
</ion-content>
