<app-dashboard></app-dashboard>
<ion-content>
    <h1>Most Vulnerable Projects</h1>
</ion-content>

<ion-item-group>
    <ion-item>
        <ion-row>
            <div class="Projects">
                <ion-icon color="danger" aria-hidden="true" name="ellipse"></ion-icon>
                <ion-col>App1</ion-col>
            </div>
            <ion-col class="Vulnerability">XXX High / XXX Medium</ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <div class="Projects">
                <ion-icon color="danger" aria-hidden="true" name="ellipse"></ion-icon>
                <ion-col>App2</ion-col>
            </div>
            <ion-col class="Vulnerability">XXX High / XXX Medium</ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <div class="Projects">
                <ion-icon color="danger" aria-hidden="true" name="ellipse"></ion-icon>
                <ion-col>App3</ion-col>
            </div>
            <ion-col class="Vulnerability">XXX High / XXX Medium</ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <div class="Projects">
                <ion-icon color="warning" aria-hidden="true" name="ellipse"></ion-icon>
                <ion-col>App4</ion-col>
            </div>
            <ion-col class="Vulnerability">XXX High / XXX Medium</ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <div class="Projects">
                <ion-icon color="warning" aria-hidden="true" name="ellipse"></ion-icon>
                <ion-col>App5</ion-col>
            </div>
            <ion-col class="Vulnerability">XXX High / XXX Medium</ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <div class="Projects">
                <ion-icon color="success" aria-hidden="true" name="ellipse"></ion-icon>
                <ion-col>App6</ion-col>
            </div>
            <ion-col class="Vulnerability">XXX High / XXX Medium</ion-col>
        </ion-row>
    </ion-item>
</ion-item-group>