<app-dashboard></app-dashboard>
<ion-content class="title">
    <h1>Most Vulnerable Projects</h1>
    
    <ion-item-group>
        <ion-item *ngFor="let project of projects">
            <ion-row>
                <div class="Projects">
                    <ion-icon [ngStyle]="{'color': getRiskColor(project.riskLevel)}" name="ellipse"></ion-icon>
                    <ion-col>{{project.name}}</ion-col>
                </div>
                <ion-col class="Vulnerability">{{project.high}} High / {{project.medium}} Medium</ion-col>
            </ion-row>
        </ion-item>
    </ion-item-group>
</ion-content>