body, section {
    height: 100%;
}
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 8px 10px 18px #0c1137;
 } 
.button {
    border: none;
    font-size: 16px;
    background-color: #4E6E81;
    color: #fff;
    border-radius: 100px;
    display: block;
    margin-top: 0.5rem;
    width: 20rem;
}
ion-input {
    margin: 0.5rem 0 0.5rem 0;
}
ion-text {
    text-align: right;
    color: #4E6E81;
    padding-right: 1.5rem;
}
