.section {
    height: 100%;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 5%;
}

.forgot {
    position: fixed;
    bottom: 65px;
    left:20%;
    font-weight: 600;
    color: #4E6E81;
}

.forgot a {
    color: #4E6E81;
}