.section {
    height: 100%;
    background-image: url('src\assets\login.png');
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ion-img{
    width: 10rem;
    display: flex;
    object-position: center;
}
ion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}  
ion-text {
    font-size:80%;
    font-weight: 600;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
}
ion-button {
    font-size:100%;
    font-weight: 600;
    color: #ffffff;
}
ion-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
