<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard-vulnerable-projects">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-tab-button>

    <ion-tab-button routerLink="/lastWeek">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>This Week</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/user-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
