<section>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <div>
            <input class="email" formControlName="email" type="email" placeholder="Email"> 
            <div class="password-container">
                <input formControlName="password" [type]="showPassword ? 'text' : 'password'" (ngModel)="password" name="password" placeholder="Password">
                <span id="toggle" (click)="togglePassword()">{{ showPassword ? 'Hide' : 'Show' }}</span>
            </div>
            <button class="button" type="submit">Log In</button>
            <p>Forgot your password?</p>
        </div>
    </form>
</section>
