body, section {
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
 } 
 .button {
    width: 20rem;
    border: none;
    font-size: 16px;
    text-align: center;
    align-self: center;
    background-color: #4E6E81;
    color: #fff;
    border-radius: 100px;
}

.email, .password {
    display: block;
    margin: 0 auto;
    width: 20rem;
}
ion-text {
    margin-top: 1rem;
    text-align: right;
    padding-right: 1.5rem;
    color: #1f1f1f;
    font-weight: bold;
}
ion-item::part(native) {
    border-color: #212020;
    border-width: 1px;
    border-radius: 100px;
    margin-bottom: 1rem;
    padding-left: 30px;
}

@media screen and (min-width: 400px) {
    ion-text {
        text-align: center;
    }
}