<ion-content>
  <div class="user-profile-container">
    <div class="buttons">
      <ion-buttons class="setting">
        <ion-button (click)="settingsRouter()">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="logOutUser()">Logout</ion-button>
      </ion-buttons>
    </div>
    <img [src]='user.photo ?? "../../../assets/default.jpg"' class="profile-image" />
    <div class="titles">
      <ion-title class="user-title">{{ user.full_name }}</ion-title>
      <ion-title class="user-subtitle">{{ user.username }}</ion-title>
    </div>
  </div>

  <div class="news-container">
    <div class="news" *ngFor="let notification of notifications">
      <ion-icon name="alert-circle-outline"
        [style]="notification.risk_level === 'High' ? 'color: red': 'color: yellow'"></ion-icon>
      <div class="notification">
        <div class="projectName">{{ notification.project_name }}</div>
        <div class="content">Level of vulnerability {{notification.risk_level}}: {{notification.risk_level === "High" ? notification.levels.high: notification.levels.medium}}</div>
        <div class="timestamp">{{notification.date}}</div>
      </div>
    </div>
  </div>
</ion-content>
