<ion-header class="section">
    <ion-toolbar>
        <ion-title class="title">Sign Up</ion-title>
    </ion-toolbar>
    <app-signupform></app-signupform>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid class = "login">
        <ion-row class="ion-center-content">
            <ion-text>Already have an account?</ion-text>
        </ion-row>
        <ion-row>
            <ion-button fill="clear" routerLink="/login">Log In</ion-button>
        </ion-row>
    </ion-grid>
</ion-header>
