<ion-content>
    <h1>This Week Results</h1> 
    <app-last-week-graph [weekArray]="weekArray"></app-last-week-graph>
    <ion-item-group *ngFor="let day of weekDays; let i = index">
        <ion-item *ngIf="weekArray[day]">
            <ion-row>
                <div class="Days">
                    <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
                    <ion-col>{{day}}</ion-col>
                </div>
                <ion-col class="Vulnerability">{{weekArray[day]}}</ion-col>
            </ion-row>
        </ion-item>
    </ion-item-group>
</ion-content>