<h1>Dashboard</h1>
<ion-toolbar>
    <ion-tabs>
        <ion-tab-bar>
            <ion-tab-button routerLink="/dashboard-vulnerable-projects">
                Most Vulnerable Projects
            </ion-tab-button>
            <ion-tab-button routerLink="/dashboard-by-vulnerability">
                Results By Vulnerability
            </ion-tab-button>
            <ion-tab-button routerLink="/dashboard-by-engine">
                Results By Engine
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>