h1 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    background-color: #FFFF;
    margin: 0;
    padding: 1rem;
}

ion-tab-button {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    font-size: 80%;
}
