@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.user-profile-container {
  margin: 0;
  padding: 0;
  background-color: #4e6e81;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-title {
  font-size: 30px;
  font-family: Inter;
  line-height: normal;
  color: #fff;
  margin: 1rem;
}
.user-subtitle {
  color: #fff;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer; 
  margin: 1rem;
  text-align: center;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  object-fit: cover;
  border: 4px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.profile {
  text-align: center;
  color: black;
  font-size: 26px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
}
.buttons {
  margin: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
ion-icon {
  font-size: 2rem;
}
.news {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  font-size: 14px;
}
.news .author {
  font-weight: bold;
  margin-bottom: 5px;
}
.news .timestamp {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}
.news .image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}
