<div class="header">
  <header>
    <h2 (click)="settingsRouter()">Settings</h2>
    <h1>Profile</h1>
    <h2 (click)="logOutUser()">Logout</h2>
  </header>
  <div class="profile-image-container">
    <img [src]="user.photo" alt="Imagen de perfil" class="profile-image" />
  </div>
</div>
<div class="user-profile-container">
  <div class="titles">
    <h1 class="title user-title">{{ user.full_name }}</h1>
    <h4 class="title user-subtitle">{{ user.username }}</h4>
  </div>
  <div class="segment-control">
    <button
      class="segment-button"
      [class.active]="selectedSegment === 'segment1'"
      (click)="selectSegment('segment1')"
    >
      High
    </button>
    <button
      class="segment-button"
      [class.active]="selectedSegment === 'segment2'"
      (click)="selectSegment('segment2')"
    >
      Medium
    </button>
    <button
      class="segment-button"
      [class.active]="selectedSegment === 'segment3'"
      (click)="selectSegment('segment3')"
    >
      Low
    </button>
  </div>
  <div class="news-container">
    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>

    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>

    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>

    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>

    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>

    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>

    <div class="news">
      <img class="image" [src]="user.photo" alt="News Image">
      <div>
        <div class="author">{{ user.username }}</div>
        <div class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        <div class="timestamp">Posted on June 28, 2023</div>
      </div>
    </div>
  </div>
</div>
