@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.header {
  margin: 0;
  padding: 0;
  background-color: #4e6e81;
  height: 200px;
}

header {
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

h1 {
  font-size: 30px;
  font-family: Inter;
  line-height: normal;
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-profile-container {
  height: 100%;
}

.titles {
  margin: 60px 0 16px 0;
}

.title {
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: normal;
}

.user-title {
  font-size: 30px;
}

.user-subtitle {
  font-size: 16px;
  margin: 0;
}

.segment-control {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.segment-button {
  padding: 10px 20px;
  background-color: #f2f2f2;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border: 1px solid black;
  font-weight: 700;

}

.segment-button:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.segment-button:nth-child(2) {
  border-top: 1px solid black;
}

.segment-button:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.segment-button.active:nth-child(1) {
  color: #fff;
  background-color: red;
}

.segment-button.active:nth-child(2) {
  color: #fff;
  background-color: yellow;
}

.segment-button.active:nth-child(3) {
  color: #fff;
  background-color: green;
}

.news-container {
  height: 200px;
  overflow-y: auto;
}

.news {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

.news .author {
  font-weight: bold;
  margin-bottom: 5px;
}

.news .content {
  font-size: 14px;
}

.news .timestamp {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}

.news .image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}


@media screen and (min-width: 1024px) {
  header {
    padding: 0 140px 0 140px;
  }

  .news-container {
    padding: 0 120px 0 120px;
  }

  .news {
    border-radius: 0;
  }
}