<ion-content>
  <div class="user-profile-container">
    <div class="buttons">
      <ion-buttons class="setting">
        <ion-button (click)="logOutUser()">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="logOutUser()">Logout</ion-button>
      </ion-buttons>
    </div>
    <img [src]="user1.photo" alt="Imagen de perfil" class="profile-image" />
    <div class="titles">
      <ion-title class="user-title">{{ user1.full_name }}</ion-title>
      <ion-title class="user-subtitle">{{ user1.username }}</ion-title>
    </div>
  </div>
  <div class="segment-control">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="segment1">
        <ion-label>High</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment2">
        <ion-label>Medium</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment3">
        <ion-label>Low</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="news-container">
    <div class="news" *ngFor="let newca of news">
      <img class="image" [src]="newca.user.photo" alt="News Image" />
      <div>
        <div class="author">{{ newca.user.username }}</div>
        <div class="content">{{newca.description}}</div>
        <div class="timestamp">{{newca.date}}</div>
      </div>
    </div>
  </div>
</ion-content>